* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}

h2 {
    text-align:center;
    padding-top: 80px;
    margin-bottom: -2px;
  

}

h4 {
    text-align: center;
    padding-left: 5px;
    margin-bottom: 30px;
}



/* navigation bar  */
.header {
    background: #0B929D;
}

.navbar {
    padding-top: 20px !important; 
}

.nav-item {
    margin-left: 40px;
    margin-bottom: 10px;
}

.nav-link { 
    color: #fff  !important;
    font-size: 14px !important;
    padding: 0 0 5px 0 !important;
    display: unset !important;
}


/* navigation logo */
.navbar-brand img {
    width: 150px;
}


.fa-bars {
    color: #fff;
    font-size: 40px !important;
}


.navbar-toggler {
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
}

.active-home {
    border-bottom: 2px solid #fff;
}

.nav-link:hover {
    border-bottom: 2px solid #fff;
}


/* carousel slider images */


div.container-fluid {  
    padding: 0px !important;
}

.d-block {
    position: relative;
    
}

.banner-text {
    position: absolute;
    margin: 0 20%;
    width: 500px;
    z-index: 50;
    color: rgb(255, 255, 255);
    top: 30%;
}

.banner-text p {
    margin-bottom: 30px;
}


.express-btn {
    font-size: smaller;
    padding: 15px;
    background: orange;
    color: #fff;
    border-radius: 50px;

}

.banner-text .express-btn {
    text-decoration: none;
}

.orange-border {
    border-bottom: 3px solid #ffa500;

}

.banner-text a:hover {
    background: rgba(255, 165, 0, 80%);
    color: #20d3d3;
}

.carousel-item .d-block {
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .carousel-item .d-block {
        width: auto;
        height: max-content;
       }
}

@media only screen and (max-width: 480px) {
    .banner-text {
        width: auto;
        text-align: center;
        margin-top: -100px;


    }
}








/* search box */

.search_area {
    background: #0B929D;      
}

.search_wrap_1 {
    padding: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


.search_area .input {
    border: 0;
    outline: none;
    color:black;
}


.search_wrap .search_box {
    position: relative;
    width: 500px;
    height: 60px;
    
}

.search_wrap .search_box .input {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 10px 20px;
border-radius: 3px;
font-size: 18px;
}

.search_wrap .search_box .btn{
position: absolute;
top: 0;
right: 0;
width: 60px;
height: 100%;
background:#ffa500;
z-index: 1;
cursor: pointer;
}


.search_wrap .search_box .btn:hover {
    background: #20d3d3;
}

.search_wrap .search_box .btn.btn_common .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn{
    right: 0;
    border-radius: 50%;
}

.search_wrap.search_wrap_1 .search_box .input {
    border-radius: 50px;
    border: 2px solid orange;
}



/* service section */
.social-icons-box {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 150px;
}

.social-icons-list {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.service {
    background-color: #F4F4F8;
    
}

.service-box h6 {
    margin-bottom: 40px;
    font-weight: bolder;
    text-align: center;
    color: #0B929D;
}

.service-box img {
    width: 80px;
    margin-top: 65px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service-box h6 {
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}

.service-box img {
    width: 150px;
    height: 90px;
    
    margin: 10% auto;
    border-radius: 50%;
    text-align: center;
    position: relative;

}

.circle-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}

.service-box p {
    text-align: center;
    color: rgb(113, 111, 111);
    padding: 20px;
    
    
}

/* google map */
#map{
    height: 400px;
    width: 100%;
}

/* destination section */
.card-image {
    width: 100%; 
}

.city-cards img {
    border-radius: 10px;   
}


.city-image-text {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    font-size: larger;
}

div .col-sm-6 {
padding: 15px !important;
}

div .city-cards {
background-color: #fff; 
}

div .white-background {
    background-color: #fff;
    z-index: 20;
}

.destinations {
    padding: 50px; 
}

/* hover effect copied from Hover.css */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* testimonials section */

.testimonial-section {
    background: #2B2D42;
    padding: 40px 0;


}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.testimonial-section h1 {
    text-align: center;
    color: #F8F7F9;
    font-size: 35px;
    padding-top: 40px;
    
  
}

.testimonial {
    background: #F4F4F8;
    padding: 40px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}


.test-info {
    display: flex;
    height: 60px;
    align-items: center;
}

.test-pic {
    width: 100px !important;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
}

.test-name span {
    display: block;
    font-size: 14px;
    color: black;
    font-weight: 700;
    color: #0B929D;
}

.testimonial p {
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;

}

.owl-theme .owl-dot {
    outline: none;
}



/* gallery */

.image-grid {
    /* display: flex; */
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-image {
    /* display: block;
    flex-basis: 50%; */
    padding: 5px;
    /* box-sizing: border-box; */
    
}

.gallery-grid {
    margin: 20px;
    justify-content: center;
   
}




@media only screen and (min-width: 640px) {
    .grid-image {
        flex-basis: 50%;
    }
}

@media only screen and (min-width: 960px) {
    .grid-image {
        flex-basis: 33.333%;
    }
}

@media only screen and (min-width: 1280px) {
    .grid-image {
        flex-basis: 25%;
    }
}



/* footer */
.footer {
    background: #000202;
    display: flex;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden !important;
}

.footer h2 {
    color: #fff;
    font-weight: 600;
    margin: 70px;
    text-align: center;

}

.footer input {
    width: 20%;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #fff;
    max-width: fit-content;
    padding: 10px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;

}

input.subscribe::placeholder {
    color: #fff;
    font-size: 15px;
}




.footer button {
    padding: 6px;
    width: 180px;
    margin: auto;
    display: block;
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    background: transparent;
}

.footer small {
    color: #fff;
    font-size: 12px;
    padding: 20px;
    padding-bottom: 60px;
    display: block;
    color: #fff;
    text-align: center;
}

/* footer icons */
.footer-icons li {
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    font-size: 35px;
}

.footer-icons ul {
    text-align: center !important;

}

.footer-icons li a {
    color: #fff;

}

.email {
    margin-left: 2px;
    color: white;
    font-size: 20px;
}


/* ************************* */

